:root{
  --color-main: #47874a;
}

/* -------------------- MENSAJE BIENVENIDA  ----------------------- */
h5{
  text-align: center;
}
.usuario-modificar{
  justify-content: center;
}
/* -------------------- MENSAJE BIENVENIDA  ----------------------- */

/* -------------------- HEADER  ----------------------- */
.letra h3{
  line-height: 90px;
  text-align: right;
  color: var(--color-main);
}
  .imagen {
    width: 200px;
    float: left;
  }
  @media screen and (max-width: 640px) {
    .imagen {
      width: 100%;
      padding: 20px;
    }
    .letra {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      display: block;
    }
  }
  /* -------------------- HEADER  ----------------------- */


/* -------------------- BOTONONES DE OPCION HEADER  ----------------------- */
.btn-inicio{
    width: 150px;
    display: block;
    border-radius: 10px;
    background-color: #47874a;
    color: #f4f4f4;
    margin: 5px 2px;
  }
.btn-inicio:hover{
    background-color: #648564;
    color: #fff;
  }
/* -------------------- BOTONONES DE OPCION HEADER  ----------------------- */
  i{
    padding: 0 3px 0 0;
}

/* -------------------- IMAGEN FOOTER  ----------------------- */
.img-abajo {
  margin: 10px auto 10px;
  display: block;
}
/* -------------------- IMAGEN FOOTER  ----------------------- */


  /* mover los a */
  .mover-a{
    float: right;
    font-size: 20px;
}
.mantener{
  font-size: 20px;
}

/* -------------------- BOTONES TABLA DE REGISTROS----------------------- */
.boton3{
width: 120px;
border-radius: 10px;
background-color: #47874a;
color: #f4f4f4;
/* display: block; */
}
.boton3:hover{
background-color: #648564;
color: #f4f4f4;
/* display: block; */
}
/* -------------------- BOTONES TABLA DE REGISTROS----------------------- */

/*--------------------- --------------*/
.img-gal-admin{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
/*--------------------- --------------*/

@media screen and (max-width: 640px) {
  .form-signin #text{
    width: 100%;
  }
  span{
    width: 100%;
    text-align: center;
  }
}



/* -------------------- FORMULARIO INICIO DE SESIÓN----------------------- */
.form-signin input[type="email"],
.form-signin input[type="password"],
.form-signin input[type="text"],
.form-signin button {
  margin: 10px auto;
  width: 90%;
  display: block;
}
.btn-admin {
    width: 100%;
}
.btn-admin:hover{
  background-color: #648564;
    color: #fff;
}
.card {
  background-color: #ffffff;
  padding: 0 0 5px;
  margin: 0 auto 25px;
}
.form-signin #text {
  height: 44px;
  font-size: 16px;
}
.form-control:focus {
  box-shadow: none;
}

.form-signin button {
  width: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #47874a;
  color: #f4f4f4;
  font-size: 20px;
}
.form-signin button:hover{
  background-color: #557457;
  color: #fff;
}
.card-container.card {
  border: none;
}
/* -------------------- FORMULARIO INICIO DE SESIÓN------------------------- */

/*---------------------- DISEÑO FORMULARIOS-----------------------*/
.categoria-color {
  background-color: #47874a;
  color: #ffffff;
  width: 180px;
} 
/*---------------------- DISEÑO FORMULARIOS-----------------------*/

/* -------------------- TAMAÑO Y CENTRADO DE FORMULARIOS */
.form{
  margin: 20px auto;
  max-width: 50vw;
}
.btn-form{
  text-align: center;
  width: auto;
}
/* -------------------- TAMAÑO Y CENTRADO DE FORMULARIOS */
input{
  outline: none;
}
/* -------------------- VALIDAR FORMULARIOS -------------------------------*/
.message{
  background: var(--color-main);
}
.formInputError{
	font-size: 16px;
  color: #fff;
	display: none;
  background: #F66060;
  height: auto;
  padding-left: 10px;
  width: 100%;
}
.formMensaje{
  height: 45px;
  line-height: 45px;
  background: #F66060;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 16px;
  display: none;
  color: #fff;
  margin-bottom: 10px;
}
.formInputError-active{
	display: block;
}
.formMensaje-active{
	display: block;
}
.form-incorrecto input{
	border: 3px solid #F66060;
}
.form-success input{
	border: 3px solid #47874a;
}
.form-success-file input[type="file"]{
  color: #47874a;
  font-weight: bold;
}
.disabled-button{
    cursor: not-allowed;
    background-color: rgb(130, 130, 130) !important;
    pointer-events:none;
}
.archivo-class{
  padding-left: 10px;
}

 /* ----------- ICONO DE FORMULARIO */
.input-icon {
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 100;
	font-size: 20px;
	opacity: 0;
}
.icon-admin{
  right: 35px;
	top: 10px;
}
.inic-correct{
  opacity: 1;
  color: #47874a;
}
.inic-err{
  opacity: 1;
  color: #F66060;
}

.select{
  border: 3px solid #47874a;
  /* height: 70px; */
}

.editor{ /* PARA AGREGAR NOTICIAS Quill.js */
  width: 100%;
}
/* .ql-snow */
.editor-success{
  background-color: rgba(71, 135, 74, .4);
}
.editor-incorrecto{
  background-color: rgba(246, 96, 96, .4);
}
/* -------------------- VALIDAR FORMULARIOS -------------------------------*/

/* -------------------------------- GALERIA SELECCIÓN IMAGENES PARA NOTICIA ---------------------------------------- */
.cuadro{
  width: 1000px;
}
.gal{
  padding: 10px;
  background: #ccc;
}
div.image {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  }
div.image img{
  width: 100%;
  height: 80px;
  object-fit: cover;
}

/* ----- CHECKBOX PERSONALISADO -----------------------*/
input[type="checkbox"] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari y Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 10px;
}
.check{
  font-size: 20px;
}

input[type="checkbox"]:checked + .check {
  color: #2596be;
  font-weight: bold;
}
/* ----- CHECKBOX PERSONALISADO -----------------------*/
/* -------------------------------- GALERIA SELECCIÓN IMAGENES PARA NOTICIA ---------------------------------------- */

/* ------------------COLOR BOTONES TABLA ----------------*/
.delete{
  background-color: #c73b1b;
}
.delete:hover{
  background-color: #9b2e15;
  color: #fff;
}
.update{
  background-color: #125e8a;
}
.update:hover{
  transition: all 0.5s ease;
  background-color: #0b4363;
  color: #fff;
}
/* ------------------COLOR BOTONES TABLA ----------------*/

.m{
  margin-top: 25vh;
}

/* FORMATEAR LOGIN*/
.sec-admin{
  margin-bottom: 2px;
}

/* ---------------------- PAGINADOR ----------------- */
.paginacion{
  padding: 10px;
  text-align: center;
}
.paginacion a{
  text-decoration: none;
  font-size: 16px;
}
.paginacion a{
  background: #9bb99c;
}
.paginacion a:hover{
  background: #557457;
  color: #fff;
}

ul.paginador {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.paginador li {display: inline;}

ul.paginador li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid white;
}

.paginador li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.paginador li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul.paginador li a.active {
  background-color: #47874a;
  color: white;
  border: 1px solid var(--header-footer);
}
.disabled { 
  pointer-events: none; 
  cursor: default; 
} 
.disabled a{
  background: #b6b9b6;
}
/* ---------------------- PAGINADOR ----------------- */