:root{
  --color-main: #47874a;
}

/* -------------------- MENSAJE BIENVENIDA  ----------------------- */
h5{
  text-align: center;
}
.usuario-modificar{
  justify-content: center;
}
/* -------------------- MENSAJE BIENVENIDA  ----------------------- */

/* -------------------- HEADER  ----------------------- */
.letra h3{
  line-height: 90px;
  text-align: right;
  color: var(--color-main);
}
  .imagen {
    width: 200px;
    float: left;
  }
  @media screen and (max-width: 640px) {
    .imagen {
      width: 100%;
      padding: 20px;
    }
    .letra {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      display: block;
    }
  }
  /* -------------------- HEADER  ----------------------- */


/* -------------------- BOTONONES DE OPCION HEADER  ----------------------- */
.btn-inicio{
    width: 150px;
    display: block;
    border-radius: 10px;
    background-color: #47874a;
    color: #f4f4f4;
    margin: 5px 2px;
  }
/* -------------------- BOTONONES DE OPCION HEADER  ----------------------- */
  i{
    padding: 0 3px 0 0;
}

/* -------------------- IMAGEN FOOTER  ----------------------- */
.img-abajo {
  margin: 10px auto 10px;
  display: block;
}

.barra-abajo{
  margin-top: 12vh;
}
/* -------------------- IMAGEN FOOTER  ----------------------- */


  /* mover los a */
  .mover-a{
    float: right;
}

/* -------------------- BOTONES TABLA DE REGISTROS----------------------- */
.boton3{
width: 120px;
border-radius: 10px;
background-color: #47874a;
color: #f4f4f4;
display: block;
}
/* -------------------- BOTONES TABLA DE REGISTROS----------------------- */

@media screen and (max-width: 640px) {
  .form-signin #text{
    width: 100%;
  }
  span{
    width: 100%;
    text-align: center;
  }
}




/* -------------------- FORMULARIO INICIO DE SESIÓN----------------------- */
.form-signin input[type="email"],
.form-signin input[type="password"],
.form-signin input[type="text"],
.form-signin button {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.btn-admin {
    border-radius: 0;
    height: 55px;
    margin-bottom: 10px;
    background-color: #47874a;
    color: #f4f4f4;
    font-size: 20px;
}
.btn-admin:hover{
    color: #000;
}
.card {
  background-color: #ffffff;
  padding: 0 0 5px;
  margin: 0 auto 25px;
}
.form-signin #text {
  height: 44px;
  font-size: 16px;
}
.form-control:focus {
  box-shadow: none;
}

.form-signin button {
  width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #47874a;
  color: #f4f4f4;
  font-size: 20px;
}
.card-container.card {
  /* max-width: 75%; */
  border: none;
}
/* -------------------- FORMULARIO INICIO DE SESIÓN------------------------- */

/*---------------------- DISEÑO FORMULARIOS-----------------------*/
.categoria-color {
  background-color: #47874a;
  color: #ffffff;
  width: 180px;
} 
/*---------------------- DISEÑO FORMULARIOS-----------------------*/

/* -------------------- TAMAÑO Y CENTRADO DE FORMULARIOS */
.form{
  margin: 20px auto;
  max-width: 50vw;
}
.btn-form{
  width: 10vw;
}
/* -------------------- TAMAÑO Y CENTRADO DE FORMULARIOS */